.main-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgrey;
}

.buttons {
  margin-top: 20%;
}

/*.ui .button {
  margin-top: 0px;
  margin-right: 1em;
  margin-bottom: 0px;
  margin-left: 0px;
}*/
